{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "ie": 10
          },
          "useBuiltIns": "entry",
          "corejs": 2,
          "debug": true
        }
      }
    ]
  ]
}
