{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": "> 0.25%, not ie <= 8",
          "useBuiltIns": "entry",
          "corejs": 3,
          "debug": true
        }
      }
    ]
  ]
}
